 /* Reset básico */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    color: #007BFF;
    margin-bottom: 20px;
}

/* Lista de check-list anterior */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 5px auto;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Container do formulário */
.container_check_list {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.section {
    transition: all 0.3s ease;
    overflow: hidden;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.collapsed {
    max-height: 50px;
    padding-bottom: 0;
}
.section h2 {
    margin: 0;
    cursor: pointer;
}
.section.collapsed > div {
    display: none;
}
.group_radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    background: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background: #0056b3;
}