<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Cadastro</title>
</head>
<body>
    <header class="titles">
        <p>Cadastro de Usuário</p>
    </header>

    <main>
        <div class="container_login">
            <div class="titulos">
                <span class="titulo">Cadastre-se</span> <br>
                <span class="suport">
                    <a href="https://wa.me/5571991320977" target="_blank">Suporte</a>
                </span>
            </div>

            <form action="{{url_for('auth.cadastrar')}}" method="post" class="inputs_login">
                <!-- Nome e Sobrenome -->
                <div class="input_group">
                    <input class="input_text" type="text" name="nome" required autocomplete="off">
                    <span>Nome:</span>
                </div>
                <div class="input_group">
                    <input class="input_text" type="text" name="sobre_nome" required autocomplete="off">
                    <span>Sobrenome:</span>
                </div>

                <!-- Email e Telefone -->
                <div class="input_group">
                    <input class="input_text" type="email" name="email" required autocomplete="off">
                    <span>Email:</span>
                </div>
                <div class="input_group">
                    <input class="input_text" type="text" name="tell" required autocomplete="off">
                    <span>Telefone:</span>
                </div>

                <!-- Cargo -->
                <div class="input_group">
                    <input class="input_text" type="text" name="cargo" required autocomplete="off">
                    <span>Cargo:</span>
                </div>

                <!-- Senha -->
                <div class="input_group">
                    <input class="input_text" type="password" name="pwd" required minlength="6" autocomplete="off">
                    <span>Senha:</span>
                </div>
                
                <button class="btn_entrar" type="submit">Cadastrar</button>
            </form>
            
        </div>
    </main>

    <footer>
        <div class="titulo_footer">
            Desenvolvido por <a href="https://wa.me/5571991320977" target="_blank">Astro Code</a>
        </div>
        <div class="copy_footer">© Astro Code 2025 - Todos os direitos reservados</div>
    </footer>
</body>
</html>
